.DS_Store
.git/*
.idea/*
*.swap
*.json
*.csv
project/project_chikako/notebooks/.ipynb_checkpoints/*
project/project_nobu/notebooks/.ipynb_checkpoints/*
project/project_yota/notebooks/.ipynb_checkpoints/*
project/data/*
project/files/*
project/log/*
!project/data/.gitkeep
!project/project_chikako/data/interim/.gitkeep
!project/project_nobu/data/interim/.gitkeep
!project/project_yota/data/interim/.gitkeep

!work/data/original/.gitkeep
!work/data/original_pkl/.gitkeep
!project/config/.gitkeep
work/docs/*
work/tmp/*
!work/.gitkeep
**/__pycache__/*
**/.ipynb_checkpoints/*